body {
  background-color: #f6e58d;
  padding: 5px;
  margin: auto;
  display: block;
  width: 1000px;
  clear: both;
}
header, article, #mem {
  border: black 3px solid;
  background-color: #f5f6fa;
  margin: 5px;
  padding: 5px;
}
#mem {
  clear: both;
}
form {
  margin: 10px 0px;
  padding: 10px 0px;
}
article {
  margin: 5px 0px;
}
section {
  margin: 5px;
  padding: 5px;
  width: 600px;
  float: left;
}
aside {
  float: left;
  border: 3px solid black;
  background-color: #f5f6fa;
  width: 300px;
  margin: 13px;
  padding: 5px;
}
li {
  list-style: none;
}
time {
  margin: 0px 10px;
}
nav {
  background-color: #e45632;
  align-items: left;
  border: black solid 3px;
  font-family: "Anta", sans-serif;
  margin: 5px;
  text-align: center;
  text-decoration: none;
}
nav li {
  padding: 5px;
  list-style: none;
  display: inline-block;
  border: solid black;
  border-width: 0px 3px 0px 0px;
  color: black;
}
nav ol {
  padding: 5px;
  margin: 5px;
}
#Alpha {
  width: 70px;
  padding: 5px;
  border: none;
}
#phi {
  background-color: #dfe6e9;
  margin: 5px;
  padding: 5px;
  border: black solid 3px;
}
.One {
  width: 200px 100px;
  float: left;
  margin: 3px;
}
.Two {
  width: 300px 200px;
  margin: 5px;
  text-align: right;
}
.aleph {
  margin: 0px;
}
.bet {
  margin: 0px;
}
h1, h2 {
  font-family: "Kanit", sans-serif;
  margin: 5px;
  padding: 5px;
}
p, label {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin: 5px;
  padding: 5px;
  color: black;
}
#psi {
  text-align: center;
  font-size: 40px;
}
img {
  width: 400px;
  display: block;
  margin: 10px;
  border: rgb(72, 83, 116) solid 3px;
  border-radius: 5%;
}
video {
  width: 400px;
  display: block;
  margin: 10px;
  border: rgb(72, 83, 116) solid 3px;
  border-radius: 5%;
}
footer {
  background-color: #e45632;
  align-items: left;
  border: black solid 3px;
  font-family: "Anta", sans-serif;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  clear: both;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: #1f90ac;
  transition: all .2s;
}
a:visited{
  color: #1f90ac;
  transition: all .3s;
}
button{
  margin: 20px;
  background-color: beige;
}
button :hover{
  background-color: #1f90ac;
  transition: all .3s;
}
.com-barra{
  margin: 5px 5px 10px 10px;
}